[tool.poetry]
name = "diagrams"
version = "0.23.1"
description = "Diagram as Code"
license = "MIT"
authors = ["mingrammer <mingrammer@gmail.com>"]
readme = "README.md"
homepage = "https://diagrams.mingrammer.com"
repository = "https://github.com/mingrammer/diagrams"
include = ["resources/**/*"]

[tool.poetry.dependencies]
python = "^3.7"
graphviz = ">=0.13.2,<0.20.0"
jinja2 = ">=2.10,<4.0"
contextvars = { version = "^2.4", python = "~3.6" }
typed-ast = "^1.5.4"

[tool.poetry.dev-dependencies]
pytest = "^7.0"
pylint = "^2.7"
rope = "^1.5.1"
isort = "^4.3"
black = "^22.10.0"

[tool.black]
line-length = 120
