---
id: {{ pvd }}
title: {{ pvd|up_or_title(pvd) }}
---

Node classes list of the {{ pvd }} provider.
{% for typ, classes in typ_classes.items() %}
## {{ pvd }}.{{ typ }}
{% for class in classes %}

<img width="30" src="/img/{{ class['resource_path'] }}" alt="{{ class['name'] }}" style="float: left; padding-right: 5px;" >
**diagrams.{{ pvd }}.{{ typ }}.{{ class['name'] }}**{% if class['alias'] %}, **{{ class['alias'] }}** (alias){% endif %}{% endfor %}
{% endfor %}
